#selectTermDiv{
    width: 70em;
    margin: auto;
}
#checkboxUl{
    width: 30em;
    display: inline;
}

#labelBox{
    width: 20em;
    text-align: left;
    font-weight: normal;

}

#formText{
    font-weight: bold;
    font-size: 1em;
}

